# Ignore custom configuration
robotmissions/config.py

# BIM server
BIMserver/*

# Pycharm
.idea/*

# Python
__pycache__/
*.py[cod]


# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
