# Ignore custom configuration
robotmissions/config.py

# BIM server
BIMserver/*
logs/*

# Pycharm
.idea/*

# Python
__pycache__/
*.py[cod]

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*

# venv
env/*
venv/*
